page-login-firebase {

  .logo{
    width: 170px;
    height: 95px;
    display: block;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
  }

  .content-md{
    background-color: #3D204F;
  }

  .text-pag{
    text-align: center;
    color: #ffffff;
  }

}
