<ion-header>
  <ion-navbar>
    <ion-title>{{ project_name }}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment style="color:black" [(ngModel)]="view">
      <ion-segment-button value="lists">
        Listas
      </ion-segment-button>
      <ion-segment-button value="group">
        Grupo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="view">

  <ion-list *ngSwitchCase="'lists'">

    <p *ngIf="lists == null">Crie uma lista para o projeto!</p>

    <ion-item *ngFor="let list of lists | async">
      {{ list.name }}
    </ion-item>

    <ion-fab right bottom (click)="openAddList()">
      <button class="bt-default" ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </ion-list>

  <div *ngSwitchCase="'group'">
    <ion-item *ngFor="let group of groups | async" no-lines>
      <h2>Grupo</h2>
      {{ group.name }}
      <br>
      <h2>Participantes</h2>

      <div *ngIf="group.members!=null">
          <div *ngFor="let member of group.members">
            <p style="font-weight: bold">{{ member.member_name }}</p>
          </div>
        </div>

      <button ion-button class="bt-default" (click)="openSearchUser(group.id_group)">Adicionar membro</button>
    </ion-item>

    <button ion-button class="bt-default" (click)="openAddGroup()" full>Adicionar grupo</button>

    <button ion-button class="bt-default" *ngIf="groups == null" (click)="openAddGroup()">Criar grupo</button>

  </div>

</div>
</ion-content>
