<ion-header>
  <ion-navbar>
    <button ion-button *ngIf="search==false" menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <button ion-button *ngIf="search==true" icon-only clear (click)="cancelSearch()">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </button>
    <ion-title *ngIf="search==false">TudoList</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="search==false" (click)="showSearch()">
        <ion-icon name="search" color="light"></ion-icon>
      </button>
      <ion-searchbar *ngIf="search==true" [(ngModel)]="searchTerm"
        placeholder = "Pesquisar"
        (ionInput)="getItem($event)">
      </ion-searchbar>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let project of projects | async">
    <button ion-button class="bt-tarefas" (click)="addStarProject(project.id_project, project.star)" icon-only clear item-end style="float: right">
      <ion-icon name="star" [color]="project.star ? 'yellow' : 'white'"></ion-icon>
    </button>
    <ion-card-header class="card-header" (click)="openListPage(project.id_project,project.name)" text-wrap>
      {{ project.name }}
    </ion-card-header>

    <ion-card-content text-wrap>
      {{ project.description }}
    </ion-card-content>
  </ion-card>

  <p *ngIf="projectsSearch == 0 && search==true">Nenhum projeto com esse nome foi encontrado...</p>

  <ion-fab right bottom (click)="openAddProject()">
    <button class="bt-default" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
