<ion-header>
  <ion-navbar>
    <ion-title>Subtarefas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="subtaskForm">
        <ion-item>
          <ion-input type="text" [(ngModel)]="subtask.name" formControlName="name" placeholder="Nova subtarefa"></ion-input>
          <button class="bt-tarefas" ion-button icon-only clear item-end (click)="addSubtask(subtask)" [disabled]="subtask.name==null">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-item>
      </form>

      <br>

      <ion-item  no-lines *ngFor="let subtask of subtaskDoc | async">

        <ion-label text-wrap>{{ subtask.name }}</ion-label>
        <ion-checkbox color="dark" (click)="doneSubtask(subtask.id_subtask)"></ion-checkbox>

        <button ion-button class="bt-default" *ngIf="subtask.priority==null" [ngStyle]="{'background-color':subtask.color_priority}" item-end round (click)="addPriority(subtask.id_subtask)">
          P
        </button>

        <button ion-button *ngIf="subtask.priority!=null" [ngStyle]="{'background-color':subtask.color_priority}" item-end round (click)="addPriority(subtask.id_subtask)">
          {{ subtask.priority }}
        </button>

        <button ion-button class="bt-tarefas" *ngIf="subtask.reminder==null" icon-only clear item-end (click)="addReminder(subtask.id_subtask)">  
          <ion-icon name="md-alarm"></ion-icon>
        </button> 

        <button ion-button class="bt-tarefas" *ngFor="let reminder of subtask.reminder" clear item-end> <!-- (click)="excluirLembrete(subTarefa.id_subTarefa,lembrete)" -->
          {{ reminder.fd }}
        </button>
<!--
        <button ion-button class="bt-tarefas" *ngIf="edit==true" (click)="editarSubTarefa(subTarefa.id_subTarefa)" icon-only clear item-end>
          <ion-icon name="create" style="color:black"></ion-icon>
        </button> -->

        <!-- <button ion-button class="bt-tarefas" *ngIf="edit==true" (click)="excluirSubtarefa(subTarefa.id_subTarefa, subTarefa.nome)" icon-only clear item-end>
          <ion-icon name="close" style="color:black"></ion-icon>
        </button> -->

      </ion-item>

</ion-content>
